<!DOCTYPE html>
<html>
<head>

    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Base Meta -->
    <!-- dynamically fixing the title for tag/author pages -->



    <title>소개</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="/assets/built/screen.css" />
    <link rel="stylesheet" type="text/css" href="/assets/built/screen.edited.css" />
    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
    <style>.hljs { background: none; }</style>

    <!-- This tag outputs SEO meta+structured data and other important settings -->
    <meta name="description" content="모두의연구소 바이오메디컬랩 기술 블로그입니다." />
    <link rel="shortcut icon" href="http://localhost:4000/assets/images/favicon.png" type="image/png" />
    <link rel="canonical" href="http://localhost:4000/about/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />

     <!--title below is coming from _includes/dynamic_title-->
    <meta property="og:site_name" content="바이오메디컬랩@모두의연구소" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="소개" />
    <meta property="og:description" content="{% include site-nav.html %} {{ page.title }} 모두의 연구소 바이오메디컬 랩은 smart medical device platform, InTheSmart의 후원을 받고 있습니다. {% for author in site.data.authors %} {% if author[1].picture %} {% endif %} {{ author[1].name }} {% if author[1].bio %} {{ author[1].bio }} {% else %} Read more posts by this" />
    <meta property="og:url" content="http://localhost:4000/about/" />
    <meta property="og:image" content="http://localhost:4000/assets/images/blog-cover.jpg" />
    <meta property="article:publisher" content="https://www.facebook.com/" />
    <meta property="article:author" content="https://www.facebook.com/" />
    <meta property="article:published_time" content="" />
    <meta property="article:modified_time" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="소개" />
    <meta name="twitter:description" content="{% include site-nav.html %} {{ page.title }} 모두의 연구소 바이오메디컬 랩은 smart medical device platform, InTheSmart의 후원을 받고 있습니다. {% for author in site.data.authors %} {% if author[1].picture %} {% endif %} {{ author[1].name }} {% if author[1].bio %} {{ author[1].bio }} {% else %} Read more posts by this" />
    <meta name="twitter:url" content="http://localhost:4000/" />
    <meta name="twitter:image" content="http://localhost:4000/assets/images/blog-cover.jpg" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="바이오메디컬랩@모두의연구소" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:creator" content="@" />
    <meta property="og:image:width" content="1400" />
    <meta property="og:image:height" content="933" />

    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Website",
    "publisher": {
        "@type": "Organization",
        "name": "바이오메디컬랩@모두의연구소",
        "logo": "http://localhost:4000/assets/images/blog-icon.png"
    },
    "url": "http://localhost:4000/about/",
    "image": {
        "@type": "ImageObject",
        "url": "http://localhost:4000/assets/images/blog-cover.jpg",
        "width": 2000,
        "height": 666
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://localhost:4000/about/"
    },
    "description": "{% include site-nav.html %} {{ page.title }} 모두의 연구소 바이오메디컬 랩은 smart medical device platform, InTheSmart의 후원을 받고 있습니다. {% for author in site.data.authors %} {% if author[1].picture %} {% endif %} {{ author[1].name }} {% if author[1].bio %} {{ author[1].bio }} {% else %} Read more posts by this"
}
    </script>

    <!-- <script type="text/javascript" src="https://demo.ghost.io/public/ghost-sdk.min.js?v=724281a32e"></script>
    <script type="text/javascript">
    ghost.init({
    	clientId: "ghost-frontend",
    	clientSecret: "f84a07a72b17"
    });
    </script> -->

    <meta name="generator" content="Jekyll 3.6.2" />
    <link rel="alternate" type="application/rss+xml" title="소개" href="/feed.xml" />


</head>
<body class="page-template">

    <div class="site-wrapper">
        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        <!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left">
        
            
                <a class="site-nav-logo" href="http://localhost:4000/"><img src="/assets/images/blog-icon.png" alt="바이오메디컬랩@모두의연구소" /></a>
            
        
        
            <ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="/">목록</a></li>
    <li class="nav-about" role="menuitem"><a href="/about/">소개</a></li>
</ul>

        
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            
            
        </div>
        
    </div>
</nav>

    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full post page no-image">

            <header class="post-full-header">
                <h1 class="post-full-title">소개</h1>
            </header>

            <section class="post-full-content">
                <div class="kg-card-markdown">
                  <p>
                    모두의 연구소 바이오메디컬 랩은 smart medical device platform,
                    <a target="_blank" href="https://www.itsnuh.com/">InTheSmart</a>의 후원을 받고 있습니다.
                  </p>
                </div>
            </section>

            <!-- #author  -->
            <!-- Everything inside the #author tags pulls data from the author -->
            
            <div class="post-full-footer">
                <section class="author-card">
                    
                        <img class="author-profile-image" src="/assets/images/seungil_kim.png" alt="김승일" />
                    
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="/author/seungil_kim">김승일</a></h4>
                        
                            <p>연구 빼고 다하는 모두의연구소 대표 겸 연구소장. 모두의연구소를 만들었어요. 딥러닝은 취미로 하고 있습니다.</p>
                        
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="/author/seungil_kim">Read More</a>
                </div>
            </div>
            <div style="clear: both"></div>
            
            <div class="post-full-footer">
                <section class="author-card">
                    
                        <img class="author-profile-image" src="/assets/images/june_oh.jpg" alt="오상준" />
                    
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="/author/june_oh">오상준</a></h4>
                        
                            <p>딥바이오 연구원. 대학에서는 영문학과 철학을 배우고, 이제는 딥러닝을 통한 의료영상분석을 공부하고 있습니다.</p>
                        
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="/author/june_oh">Read More</a>
                </div>
            </div>
            <div style="clear: both"></div>
            
            <div class="post-full-footer">
                <section class="author-card">
                    
                        <img class="author-profile-image" src="/assets/images/ghost.png" alt="홍규석" />
                    
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="/author/hks">홍규석</a></h4>
                        
                            <p>Read <a href="/author/hks">more posts</a> by this author.</p>
                        
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="/author/hks">Read More</a>
                </div>
            </div>
            <div style="clear: both"></div>
            
            <div class="post-full-footer">
                <section class="author-card">
                    
                        <img class="author-profile-image" src="/assets/images/yspaik.jpg" alt="백영상" />
                    
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="/author/yspaik">백영상</a></h4>
                        
                            <p>AI Solution Architect. 오랫동안 꿈을 그리는 사람은 마침내 그 꿈을 닮아간다.</p>
                        
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="/author/yspaik">Read More</a>
                </div>
            </div>
            <div style="clear: both"></div>
            
            <div class="post-full-footer">
                <section class="author-card">
                    
                        <img class="author-profile-image" src="/assets/images/peter_cha.jpg" alt="차예솔" />
                    
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="/author/peter_cha">차예솔</a></h4>
                        
                            <p>딥러닝을 공부 할수록, 요리사가 새로운 도구를 사는 것 같은 설레임을 느끼는 중 입니다. 딥러닝은 생업으로 하고 있습니다.</p>
                        
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="/author/peter_cha">Read More</a>
                </div>
            </div>
            <div style="clear: both"></div>
            
            <div class="post-full-footer">
                <section class="author-card">
                    
                        <img class="author-profile-image" src="/assets/images/eunsook_kang.jpg" alt="강은숙" />
                    
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="/author/eunsook_kang">강은숙</a></h4>
                        
                            <p>세상을 이롭게 하기 위한 가치를 추구하는 THE ZILI의 강은숙 입니다. 딥러닝을 연구하고 있습니다.</p>
                        
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="/author/eunsook_kang">Read More</a>
                </div>
            </div>
            <div style="clear: both"></div>
            
            <!-- /author -->
        </article>

  </div>
</main>


        <!-- Previous/next page links - displayed on every page -->
        

        <!-- The footer at the very bottom of the screen -->
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="http://localhost:4000/">바이오메디컬랩@모두의연구소</a> &copy; 2018</section>
                <nav class="site-footer-nav">
                    <a href="/">최신글</a>
                    
                    
                    <a href="http://www.modulabs.co.kr" target="_blank" rel="noopener">모두의 연구소</a>
                </nav>
            </div>
        </footer>

    </div>

    <!-- The big email subscribe modal content -->
    

    <!-- highlight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- jQuery + Fitvids, which makes all video embeds responsive -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="https://demo.ghost.io/assets/js/jquery.fitvids.js?v=724281a32e"></script>


    <!-- Paginator increased to "infinit" in _config.yml -->
    <!-- if paginator.posts  -->
    <!-- <script>
        var maxPages = parseInt('');
    </script>
    <script src="/assets/js/infinitescroll.js"></script> -->
    <!-- /endif -->

    


    <!-- Add Google Analytics  -->
    <!-- Google Analytics Tracking code -->
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69281367-1', 'auto');
  ga('send', 'pageview');

 </script>


    <!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. -->
    
        <script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>

    

    <!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag -->
    <!-- ghost_foot -->

</body>
</html>
